<div class="custom-welcome-message">
  <img
    src="https://raw.githubusercontent.com/nhcarrigan/nhcarrigan/main/banner.png"
  />
  <h1>Welcome to nhcarrigan's chat server!</h1>
  <p>Before interacting with our community, please review our basic rules:</p>
  <p>
    We as members, contributors, and leaders pledge to make participation in our
    community a harassment-free experience for everyone, regardless of age, body
    size, visible or invisible disability, ethnicity, sex characteristics,
    gender identity and expression, level of experience, education,
    socio-economic status, nationality, personal appearance, race, religion, or
    sexual identity and orientation. We pledge to act and interact in ways that
    contribute to an open, welcoming, diverse, inclusive, and healthy community.
  </p>
  <p>
    Examples of behaviour that contributes to a positive environment for our
    community include:
  </p>
  <ul>
    <li>Demonstrating empathy and kindness toward other people</li>
    <li>Being respectful of differing opinions, viewpoints, and experiences</li>
    <li>Giving and gracefully accepting constructive feedback</li>
    <li>
      Accepting responsibility and apologizing to those affected by our
      mistakes, and learning from the experience
    </li>
    <li>
      Focusing on what is best not just for us as individuals, but for the
      overall community
    </li>
  </ul>
  <p>Examples of unacceptable behaviour include:</p>
  <ul>
    <li>
      The use of sexualized language or imagery, and sexual attention or
      advances of any kind
    </li>
    <li>
      Trolling, insulting or derogatory comments, and personal or political
      attacks
    </li>
    <li>Public or private harassment</li>
    <li>
      Publishing others' private information, such as a physical or email
      address, without their explicit permission
    </li>
    <li>
      Other conduct which could reasonably be considered inappropriate in a
      professional setting
    </li>
  </ul>
  <p>
    Once you are ready, join our
    <a href="/channel/introductions">indroductions channel</a> and say hello! Or
    view the <a href="/directory">channel list</a> to join our discussions!
  </p>
</div>
