:root {
  --rcx-color-foreground-default: #aea8d3;
  --rcx-button-colors-secondary-color: #aea8d3;
  --button-primary-background: #aea8d3;
  /*--rcx-color-surface: #aea8d3;*/
  --rcx-color-neutral-600: #3a3240;
  --rcx-color-foreground-hint: #3a3240;
  --rcx-color-foreground-default: #aea8d3;
  --sidebar-item-color: #3a3240;
}
.custom-welcome-message {
  text-align: center;
}

.custom-welcome-message > h1 {
  font-size: 2em;
}

.rcx-sidebar {
  background-color: #aea8d3 !important;
}

.rcx-sidebar-item {
  color: #3a3240 !important;
}

.rcx-sidebar-topbar {
  background-color: #3a3240 !important;
}